.section {
    text-align: justify;
}

.sub_section {
    text-indent: 5%;
    text-align: justify;
}

.h2 {
    text-align: left;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-position: below;
}

.h3 {
    text-align: left;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-position: below;
}