h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blue;
    background-color: lightgray;
    font-size: 24px;
    letter-spacing: 1.6em;
    word-spacing: 2em;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkred;
    font-size: 18px;
    letter-spacing: 1.4em;
    text-transform: uppercase;
}

span {
    font-style: italic;
}

th,
td {
    padding: 20px;
}

p,
td {
    font-family: Arial;
    color: black;
    font-size: 16px;
}