@charset "utf-8";
/* CSS Document */

div.mainbox {
	background-color:rgb(255,255,204);
	border:solid 1px rgb(0,128,0);
	margin:10px;
	padding:3px;
	width:100%;
	display:table;
	}
div.mainbox h2 {
	color: rgb(0,128,0);
	margin: 5px 0 5px 0;
	}
.text-center { text-align:center; }
.text-left { text-align:left; }
.text-right { text-align:right; }

#mainbody {
	width:600px;
	margin: 0 auto;
	}
.mainbox div {
	/*border: solid 1px rgb(0,128,0);
	background-color:rgb(172,206,178);
	padding: 1px 0 1px 5px;
	float:left;
	*/
	padding: 1px 0 1px 5px;
	display:table-row;
	}
.mainbox div div {
	display:table-cell;
	border: solid 1px rgb(0,128,0);
	background-color:rgb(172,206,178);
	margin:2px;
	}
div.row {
	width:100%;
	}
.label {
	width:150px;
	height:100%;
	}
.input {
	width:400px;
	height:100%;
	}